/* Common styles for all screen sizes */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #24252A;
    animation: transistionin 3s;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

@keyframes transistionin {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo {
    cursor: pointer;
    width: 150px;
    height: 100px; /* Fixed height */
    padding-left: 10px;
}

.nav__links {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

.nav__links li {
    margin-right: 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(1, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/* Media Queries for Responsive Design */

/* For screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .nav__links {
        margin-top: 20px;
    }

    .nav__links li {
        display: block;
        margin-bottom: 10px;
    }

    .logo {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .rightcontent {
        width: 100%;
        margin: 20px;
        font-size: 16px;
    }

    .footer {
        margin-left: 0;
        top: auto;
        padding: 20px 0;
        text-align: center;
    }
    
    /* Add more responsive styles as needed */
}

/* For screens between 768px and 1200px (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1200px) {
    /* Add specific styles for this range */
}

/* For screens larger than 1200px (e.g., desktops) */
@media (min-width: 1201px) {
    /* Add specific styles for this range */
}
